<% include partials/header %>
<div class="container">
	<div class="wrapper">
		<header>
			<h1 id="site-title">Bills Application</h1>
			<h4 id="tagline">Welcome to the bills application</h4>
		</header>
		<a class="btn btn-primary btn-lg" id="viewBillsBtn" href="/bills">Click to see all bills</a>
	</div>
	<% include partials/footer %>
</div> <!-- end of container -->
	

