<% include partials/header %>

<div class="container">
	<h1>Registration Form</h1>
	<form action="/register" method="POST">
		<div class="form-group">
			<label for="username">User Name</label>
			<input type="text" class="form-control" name="username" placeholder="Enter name" required>
		</div> <!-- end of form-group -->
		<div class="form-group">
			<label for="password">Password</label>
			<input type="password" class="form-control" name="password" required>
		</div> <!-- end of form-group -->
		<button type="submit" class="btn btn-success btn-lg">Sign Up!</button>
	</form>
</div>

<% include partials/footer %>