.wrapper {
	width: 50%;
	margin: 20px auto;
}

header h1 {
	margin: 0 0 10px;
	text-align: center;
}

header h4 {
	margin-bottom: 30px;
	text-align: center;
}

#viewBillsBtn {
	width: 100%;
}

.jumbotron {
	margin: 20px 0 30px;
}

.jumbotron h1 {
	text-align: center;
	padding-bottom: 20px;
}

.jumbotron p {
	width: 100%;
	position: relative;
	margin-bottom: 30px;
}

.jumbotron a {
	width: 50%;
	position: absolute;
	left: 25%;
}

.card {
	/*min-height: 370px;*/
	margin: 0px 0 20px;
	box-shadow: -5px 5px 5px #ccc;
}

.card .card-body h4 {
	margin-bottom: 10px;
}

.card .card-body p:first-of-type {
	/*margin-top: 20px;*/
}

.card .card-body a {
	margin-top: 10px;
}

footer p {
	text-align: center;
	margin-top: 30px;
}